:root{
    --color-1: #FFFFFF;
    --color-2: #D9D9D9;
    --color-3: #000000;
    --color-4: #1E1E1E;
    --color-5: #8C5CB3;
}
@font-face {
    font-family: "Inter_18pt-Regular";
    src: url("src/storage/font/inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter_18pt-Bold";
    src: url("src/storage/font/inter/static/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter_28pt-Bold";
    src: url("src/storage/font/inter/static/Inter_28pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
